.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.deleteButton {
  visibility: hidden;
}

.itemList:hover .deleteButton {
  visibility: visible;
}

.deleteIcon{
  color: red;
}